/* coding with nick */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
  box-sizing: border-box;
}
body{
  background-color: #FF6700;
  /*background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7f7 100%);*/
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  z-index: 2;
}
.quiz-container{

position: absolute;

width: 70%;
height: 80%;
top: 15%;




background: #FFFFFF;
/* modal shadow */

box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16);
border-radius:10px;
}

.quiz-header{
  padding: 4rem;
}

button{
 /*
  width: 25%;
  

  margin-top:75px;*/

  position: absolute;
  width:25%;
  height:8%;
  left:38%;

  top:80%;
  background-color: #03cae4;
  color: #fff;
  border: none;
  display: block;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;

background: #FF6700;
border-radius:10px;
}

button:hover{
  background-color: #04adc4;
}
button:focus{
  outline: none;
  background-color: #44b927;
}
.picture{

position: absolute;

z-index: 2;
width:55%;
height:55%;
left:22%;

top:5%;
background: #FFFFFF;

box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16);
border-radius:10px;
}
.logo{
position: absolute;
width: 35%;
height: 10%;
/*left: 37%;*/
top: 3%;
margin-left: auto;
margin-right: auto;

content: url(logo.png);
}
.text{
position: absolute;
width: 100%;
top: 62%;
text-align: center;
z-index: 2;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 28px;

color: #222222;

}
.input{
position: absolute;
left: 30%;
top: 68%;
width: 40%;
height: 7%;
border-color: orange;
font-size:25px;
background: #FFFFFF;
box-shadow: -6px 6px 10px rgba(255, 103, 0, 0.3), 6px -6px 10px rgba(231, 190, 163, 0.3);
border-radius:10px;
z-index: 2;
}
.vri{
position: absolute;
left: 30%;
top: 90%;
}
.faux{
position: absolute;
left: 65%;
top: 90%;
}

.picture1{
content:url(defla.png);
position: absolute;


width:45%;
height:55%;
left:20%;
top:10%;

transform: rotate(-150deg);
opacity: 75%;
z-index: 1;




}